.flexContador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
/* .numero-circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00bfff;
  position: absolute; 
  bottom: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.btnCarrito {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
    border-radius: 25;
    margin: 10px;
    width: auto;
    padding: 10px;
    background: #1A2EBD;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}
